.container {
    width: 370px;
    height: 110px;
    background-color: var(--white2);
    border: 2px solid var(--gray);
    border-radius: 1rem;
    color: var(--black2);
    padding: 10px;
    overflow: hidden;


}