@use '../../../styles/animations.scss' as *;

.container {
    height: 100svh;
    width: 100%;
    @include fadeIn(.4s);

    .articleContainer {
        background-color: var(--black2);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 25px;


        .centralContainer {
            color: var(--white2);
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .text {
                font-family: var(--font-Mont);
            }
        }

        .sectionContainer {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
            gap: 10px;
            max-width: 750px;
            width: 90%;
            justify-items: center;
            align-items: center;
        }
    }
}

@media (max-width: 938px) {
    .container {
        .articleContainer {
            .centralContainer {
                margin: 100px 0;
            }

            .sectionContainer {
                justify-items: center;
                width: 95%;
            }
        }
    }
}